<p id="notice"><%= notice %></p>


  <b>Name:</b>
  <%= @catalog.name %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= link_to  image_tag(product.image.url(:thumb)),product.image.url(:large) %>
    <td><%= mail_to @email,"email for more"%></td>
    <% if current_admin %>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
    <td></td>
    <td></td>
    <td></td>
    <% end %>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'Back', catalogs_path %>
