<h1>Listing companyps</h1>

<table>
  <tr>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companyps.each do |companyp| %>
  <tr>
    <td><%= image_tag companyp.image.url(:small)%>
      <td><%= companyp.desc%>
    <td><%= link_to 'Show', companyp %></td>
    <td><%= link_to 'Edit', edit_companyp_path(companyp) %></td>
    <td><%= link_to 'Destroy', companyp, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Companyp', new_companyp_path %>
